:root {--white-main: #ffffff;
    --grey-primary: #777777;
    --grey-secondary: #C0C0C0;
    --button-blue: #167BF7;
    --background-color: #00030C;
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --purple-secondary: #0e0e0ee5;
    --purple-main: #7d43eb;
    --pink: #e83e8c;
    --red: #FF003C;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 4px;
    background-color: rgba(0, 0, 0, 0)
}

body::-webkit-scrollbar-thumb {
    background-color: #7777776a;
    border-radius: 5px;
    
}

header {                            /* cabeçalho */
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 20px 20px;
}

.navigation {
    padding-top: 19px;  
}

 .navigation a {                     /* transform-color */
    position: relative;
    align-items: center;
    font-size: 1.3em;
    margin-right: 40px;
    text-decoration: none;
    color: var(--grey-secondary);
}

.navigation a:after {
    content: "";
    bottom: 2px;
    left: 0;
    bottom: -3px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: var(--purple-main);
    border-radius: 6px;
    transform-origin: right;
    transition:transform 1s;
    transform: scaleX(0);
}

.navigation a:hover {
    color: var(--purple-main);
    transform-origin: left;
    transition: 1s;

}
.navigation a:hover::after{
    transform-origin: left;
    transition:transform 1s;
    transform: scaleX(1);
} 

.barra {
    width: 100%;
    height: auto;
}

.btn-login {
    background: #6610f2;
    display: inline-block;
    padding-bottom: 80px;
    width: 22%;
    margin-left: 40px;
} 

.btn-login h2 {
    font-size: 1.7em;
    margin-bottom: 60px;
    padding: 10px;
}

.btn-login p {
    display: flex;
    padding-left: 30px;
}

.btn-login input {
    display: flex;
    
    margin:10px 10px 10px 30px;
    justify-content: center;
    align-self: center;
    
}